/* This is the code that will be repeated among the pages: nav bar, footer*/

:root {
    --main-blue: #75AADB;
    --white: rgb(233, 229, 229);
    --text: rgb(238, 238, 238);
}

* {
    color: var(--text);
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--main-blue);
    height: 10vh;
}

.logo img {
    max-height: 100%; 
    max-width: 100%; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: var(--main-blue);
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}

.footer-left,
.footer-middle,
.footer-right {
    width: 150px;
    }
    
.footer-content .footer-right ul li,
.footer-content .footer-middle ul li {
    list-style-type: none;
}

.footer-middle {
    text-align: center;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: var(--main-blue);
    color: white;
}
