/* This is the code that will be repeated among the pages: nav bar, footer*/

:root {
    --main-blue: #75AADB;
    --white: rgb(233, 229, 229);
    --text: rgb(238, 238, 238);
}

* {
    color: var(--text);
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--main-blue);
    height: 10vh;
}

.logo img {
    max-height: 150px; 
    max-width: 50%; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--main-blue);
    margin: 0; 
}

.footer-content {
    display: flex;
    justify-content: space-around; 
}

.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
    max-width: 300px;
}

.footer-content .footer-right ul,
.footer-content .footer-middle ul {
    padding: 0; 
}

.footer-content .footer-right ul li,
.footer-content .footer-middle ul li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 9px;
    display: flex; /* Use flexbox to align icon and text horizontally */
    align-items: center; 
}


.footer-content .contact ul li i {
    margin-right: 5px; /* Add some space between the icon and text */
}

.footer-middle {
    text-align: left;
}

.footer-content-bottom {
    padding: 5px;
    background-color: var(--main-blue);
    color: white;
    justify-content: space-evenly; /* Center the text in the middle by default */
    display: flex;
}



hr {
    border: 1px solid #ccc; /* You can adjust the color and thickness of the line */
    margin: 10px 50px; /* Add margin for spacing above and below the line */
  }